**/node_modules
**/node_modules/**

dist
**/dist
**/dist/**

.git
.gitignore

.dockerignore
docker-compose.yml
docker-compose.prod.yml
Dockerfile


.vscode
.idea
*.swp
*.swo

# Exclude README and documentation files (optional)
README.md
README
*.md

# Exclude cache directories
.cache
**/.cache
npm_cache
**/npm_cache

# Exclude temporary files
tmp
temp
**/tmp
**/temp
**/*.tmp
**/*.temp

# Exclude unnecessary configuration files
tsconfig*.json
jest.config.js
.eslintignore
.eslintrc.js
.prettierrc
.prettierignore

# Exclude any other unnecessary files or directories
docs
scripts